# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace

# Sass
.sass-cache

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt